body {
    background-color: black;
    text-align:  center;
    color: white;
    font-family: Consolas, monaco, monospace;
}

h1, h2 {
    text-decoration: underline;
}

.module, .function, .builtin, .class h2{
    text-align: left;
}

.module, .function, .builtin, .class {
    margin-left: 5%;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 30px;
}

.module, .function, .builtin {
    background-color: white;
    color: black;
}

.class {
    background-color: grey;
    color: black;
} 

.class {
    background-color: grey
    padding:10px;
}

.error {
    text-decoration: underline;
    color: red;
}

#navigation{
    border: 2px solid black;
    border-radius: 30px;
    width: 90%;
    margin-left: 2.5%;
    padding: 20px;
    float: left;
    background-color: lightgrey;
    color: black;
}

#navigation ul {
    border: 2px solid black;
    border-radius: 30px;
    width: 90%;
    margin-left: 2.5%;
    padding: 20px;
    float: left;
    background-color: white;
    color: black;
}

#navigation p {
    position: relative;
    color: black;
    text-decoration: underline;
    float: center;
}

#navigation li {
    display: inline-block;
    list-style-type: none;
    padding-right: 20px;
}

#navigation a {
    color: blue;
}

footer {
    float: bottom-center;
    width: 90%;
    height: 160px;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    background-color: grey;
    color: black;
    padding: 50px;
    padding-bottom: -100px;
    margin-left: 2.5%;
}

footer a {
    color: blue;
    text-decoration: none;
}